<div class="chart-toolbar">
    <button
        mat-icon-button
        type="button"
        aria-label="Chart options"
        [matMenuTriggerFor]="chartMenu"
    >
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #chartMenu="matMenu">
        <button mat-menu-item type="button" (click)="exportToCsv()">
            <mat-icon>description</mat-icon>
            <span>Export as CSV</span>
        </button>
    </mat-menu>
</div>

<div class="chart-row">
    <div
        class="chart-canvas"
        echarts
        [options]="piechartOptions()"
        [theme]="themeService.chartTheme()"
        (chartInit)="onChartInit($event)"
    ></div>
    <app-chart-legend
        [items]="legendItems()"
        [sort]="legendSort()"
        (sortChange)="legendSort.set($event)"
        (toggleSeries)="toggleLegend($event)"
    ></app-chart-legend>
</div>
