@if (isHandset()) {
    <mat-toolbar color="primary">
        <button
            mat-icon-button
            aria-label="Toggle navigation menu"
            matTooltip="Menu"
            (click)="sidenav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/costs" class="logo-link mr-4">
            <img ngSrc="assets/spoud.svg" width="36" height="36" alt="Kafka Cost Control Logo" />
        </a>
        <span>COST CONTROL</span>
    </mat-toolbar>
}

<mat-sidenav-container
    [class.sidenav-collapsed]="collapsed() && !isHandset()"
    [class.is-handset]="isHandset()"
>
    <mat-sidenav
        #sidenav
        [fixedInViewport]="true"
        [fixedTopGap]="isHandset() ? 64 : 0"
        [mode]="isHandset() ? 'over' : 'side'"
        [opened]="!isHandset()"
        [class.collapsed]="collapsed() && !isHandset()"
    >
        <div class="sidenav-content-wrapper">
            <a
                routerLink="/costs"
                class="brand"
                [matTooltip]="collapsed() && !isHandset() ? 'Cost Control' : ''"
                matTooltipPosition="right"
                (click)="isHandset() && sidenav.close()"
            >
                <img
                    ngSrc="assets/spoud.svg"
                    width="32"
                    height="32"
                    alt="Kafka Cost Control Logo"
                    class="brand-logo"
                />
                @if (!collapsed() || isHandset()) {
                    <span class="brand-title">COST CONTROL</span>
                }
            </a>

            <mat-nav-list>
                @for (link of primaryNavLinks(); track link) {
                    <a
                        mat-list-item
                        [routerLink]="link.path"
                        routerLinkActive
                        #rla="routerLinkActive"
                        [activated]="rla.isActive"
                        [matTooltip]="collapsed() && !isHandset() ? link.label : ''"
                        matTooltipPosition="right"
                        (click)="isHandset() && sidenav.close()"
                    >
                        @if (link.icon) {
                            <mat-icon matListItemIcon class="nav-icon">{{ link.icon }}</mat-icon>
                        }
                        @if (!collapsed() || isHandset()) {
                            <span matListItemTitle class="nav-label">{{ link.label }}</span>
                        }
                    </a>
                }
            </mat-nav-list>

            @if (adminNavLinks().length > 0) {
                <mat-divider></mat-divider>
                @if (!collapsed() || isHandset()) {
                    <div class="nav-group-label">Admin</div>
                }
                <mat-nav-list>
                    @for (link of adminNavLinks(); track link) {
                        <a
                            mat-list-item
                            [routerLink]="link.path"
                            routerLinkActive
                            #rla="routerLinkActive"
                            [activated]="rla.isActive"
                            [matTooltip]="collapsed() && !isHandset() ? link.label : ''"
                            matTooltipPosition="right"
                            (click)="isHandset() && sidenav.close()"
                        >
                            @if (link.icon) {
                                <mat-icon matListItemIcon class="nav-icon">{{
                                    link.icon
                                }}</mat-icon>
                            }
                            @if (!collapsed() || isHandset()) {
                                <span matListItemTitle class="nav-label">{{ link.label }}</span>
                            }
                        </a>
                    }
                </mat-nav-list>
            }

            <div class="sidenav-spacer"></div>

            <mat-divider></mat-divider>

            <mat-nav-list class="account-nav-list">
                @if (isAuthenticated()) {
                    <a
                        mat-list-item
                        [matMenuTriggerFor]="userMenu"
                        [matTooltip]="collapsed() && !isHandset() ? 'Account' : ''"
                        matTooltipPosition="right"
                    >
                        <mat-icon matListItemIcon class="nav-icon">account_circle</mat-icon>
                        @if (!collapsed() || isHandset()) {
                            <span matListItemTitle class="nav-label">Account</span>
                        }
                    </a>
                    <mat-menu #userMenu="matMenu">
                        <a mat-menu-item routerLink="/settings">
                            <mat-icon>settings</mat-icon>
                            <span>Settings</span>
                        </a>
                        <button mat-menu-item (click)="signOut()">
                            <mat-icon>logout</mat-icon>
                            <span>Sign out</span>
                        </button>
                    </mat-menu>
                } @else {
                    <a
                        mat-list-item
                        routerLink="/settings"
                        [matTooltip]="collapsed() && !isHandset() ? 'Settings' : ''"
                        matTooltipPosition="right"
                        (click)="isHandset() && sidenav.close()"
                    >
                        <mat-icon matListItemIcon class="nav-icon">settings</mat-icon>
                        @if (!collapsed() || isHandset()) {
                            <span matListItemTitle class="nav-label">Settings</span>
                        }
                    </a>
                    <button
                        mat-list-item
                        [matTooltip]="collapsed() && !isHandset() ? 'Sign in' : ''"
                        matTooltipPosition="right"
                        (click)="signIn()"
                    >
                        <mat-icon matListItemIcon class="nav-icon">login</mat-icon>
                        @if (!collapsed() || isHandset()) {
                            <span matListItemTitle class="nav-label">Sign in</span>
                        }
                    </button>
                }
            </mat-nav-list>

            @if (!isHandset()) {
                <button
                    class="collapse-toggle"
                    aria-label="Toggle sidebar width"
                    [matTooltip]="collapsed() ? 'Expand menu' : 'Collapse menu'"
                    matTooltipPosition="right"
                    (click)="toggleCollapsed()"
                >
                    <mat-icon>{{ collapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
                </button>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
