<mat-toolbar color="primary">
    @if (isHandset()) {
        <button
            mat-icon-button
            aria-label="Toggle navigation menu"
            matTooltip="Menu"
            (click)="sidenav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>
    }
    <a routerLink="/costs" class="logo-link mr-4">
        <img ngSrc="assets/spoud.svg" width="36" height="36" alt="Kafka Cost Control Logo" />
    </a>
    @if (!isHandset()) {
        <span>COST CONTROL</span>
    }
    <span class="spacer"></span>
    @if (isAuthenticated()) {
        <button
            mat-icon-button
            aria-label="Account menu"
            matTooltip="Account"
            [matMenuTriggerFor]="userMenu"
        >
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <a mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </a>
            <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    } @else {
        <button mat-icon-button routerLink="/settings" aria-label="Settings" matTooltip="Settings">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-stroked-button class="sign-in-button" (click)="signIn()">
            <mat-icon>login</mat-icon>
            Sign in
        </button>
    }
</mat-toolbar>

<mat-sidenav-container
    [class.sidenav-collapsed]="collapsed() && !isHandset()"
    [class.is-handset]="isHandset()"
>
    <mat-sidenav
        #sidenav
        [fixedInViewport]="true"
        [fixedTopGap]="64"
        [mode]="isHandset() ? 'over' : 'side'"
        [opened]="!isHandset()"
        [class.collapsed]="collapsed() && !isHandset()"
    >
        <div class="sidenav-content-wrapper">
            <mat-nav-list>
                @for (link of primaryNavLinks(); track link) {
                    <a
                        mat-list-item
                        [routerLink]="link.path"
                        routerLinkActive
                        #rla="routerLinkActive"
                        [activated]="rla.isActive"
                        [matTooltip]="collapsed() && !isHandset() ? link.label : ''"
                        matTooltipPosition="right"
                        (click)="isHandset() && sidenav.close()"
                    >
                        @if (link.icon) {
                            <mat-icon class="nav-icon">{{ link.icon }}</mat-icon>
                        }
                        @if (!collapsed() || isHandset()) {
                            <span class="nav-label">{{ link.label }}</span>
                        }
                    </a>
                }
            </mat-nav-list>

            @if (adminNavLinks().length > 0) {
                <mat-divider></mat-divider>
                @if (!collapsed() || isHandset()) {
                    <div class="nav-group-label">Admin</div>
                }
                <mat-nav-list>
                    @for (link of adminNavLinks(); track link) {
                        <a
                            mat-list-item
                            [routerLink]="link.path"
                            routerLinkActive
                            #rla="routerLinkActive"
                            [activated]="rla.isActive"
                            [matTooltip]="collapsed() && !isHandset() ? link.label : ''"
                            matTooltipPosition="right"
                            (click)="isHandset() && sidenav.close()"
                        >
                            @if (link.icon) {
                                <mat-icon class="nav-icon">{{ link.icon }}</mat-icon>
                            }
                            @if (!collapsed() || isHandset()) {
                                <span class="nav-label">{{ link.label }}</span>
                            }
                        </a>
                    }
                </mat-nav-list>
            }

            @if (!isHandset()) {
                <button
                    mat-icon-button
                    class="collapse-toggle"
                    aria-label="Toggle sidebar width"
                    [matTooltip]="collapsed() ? 'Expand menu' : 'Collapse menu'"
                    (click)="toggleCollapsed()"
                >
                    <mat-icon>{{ collapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
                </button>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
