<mat-toolbar color="primary">
    <span> Kafka cost control </span>

    <span class="spacer"></span>
    @if (isAuthenticated()) {
    <button
        mat-button
        class="user-icon"
        aria-label="Logout"
        matTooltip="Sign out"
        (click)="signOut()"
    >
        Sign out
        <mat-icon>logout</mat-icon>
    </button>
    } @else {
    <button mat-button class="user-icon" aria-label="Login" matTooltip="Sign in" (click)="signIn()">
        Sign in
        <mat-icon>login</mat-icon>
    </button>
    }
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of navLinksSignal(); track link) {
    <a
        mat-tab-link
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
    >
        {{ link.label }}
    </a>
    }
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>
