INPUT_CONFLUENT_METRICS_API_KEY=ccloud-metric-api-key
INPUT_CONFLUENT_METRICS_API_SECRET=ccloud-metric-api-secret
INPUT_URLS=["https://api.telemetry.confluent.cloud/v2/metrics/cloud/export?resource.kafka.id=CLUSTER_ID"]

OUTPUT_BROKERS=["instance.provider.confluent.cloud:9092"]
OUTPUT_TOPIC="metrics-raw-telegraf-dev"
OUTPUT_KAFKA_SASL_USERNAME=ccloud-username
OUTPUT_KAFKA_SASL_PASSWORD=ccloud-password

ENVIRONMENT_NAME=dev

