<div class="panel mat-elevation-z3">
    <h3>{{ panelData().title }}</h3>
    <button mat-icon-button type="button" class="settings-button" (click)="showOptions.set(true)">
        <mat-icon>settings</mat-icon>
    </button>
    @if (panelData().description) {
        <em>{{ panelData().description }}</em>
    }
    <small
        ><em> {{ panelData() | metaData }}</em></small
    >
    <mat-divider />
    <ng-container
        [ngComponentOutlet]="component()"
        [ngComponentOutletInputs]="{ id: panelData().id }"
    />

    @if (showOptions()) {
        <app-panel-options [panelData]="panelData()" [(showOptions)]="showOptions" />
    }
</div>
