:host {
    display: flex;
    justify-content: center;
}

mat-card {
    width: 400px;

    mat-card-content {
        align-items: stretch;
        flex-direction: column;

        .quick-date-select {
            display: flex;
            justify-content: space-between;
        }

        mat-form-field {
            width: 100%;
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}
