mat-card {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: var(--radius-md);

    mat-card-content {
        align-items: stretch;
        flex-direction: column;

        .quick-date-select {
            display: flex;
            justify-content: space-between;
        }

        mat-form-field {
            width: 100%;
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}
