<mat-card>
    <mat-card-header>
        <mat-card-title>Reprocess</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="quick-date-select">
            <button mat-button color="accent" (click)="computeDate(24)">1 day</button>
            <button mat-button color="accent" (click)="computeDate(24*7)">1 week</button>
            <button mat-button color="accent" (click)="computeDate(24*30)">1 mont</button>
            <button mat-button color="accent" (click)="computeDate(24*365)">1 year</button>
            <button mat-button color="accent" (click)="startTime=undefined">Clear</button>
        </div>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="startTime">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-hint>No date means from the beginning</mat-hint>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button mat-raised-button color="primary" (click)="openReprocessDialog()">Reprocess</button>
    </mat-card-actions>
</mat-card>

