<div class="header">
    <h1 class="title">Report {{ date | intlDate }}</h1>
    <button mat-raised-button color="secondary" type="button" class="mr-1" (click)="print()">
        <mat-icon>description</mat-icon>
        Export as PDF
    </button>
    <button mat-fab extended color="primary" type="button" [matMenuTriggerFor]="panelMenu">
        <mat-icon>add</mat-icon>
        Add panel
    </button>
    <mat-menu #panelMenu="matMenu">
        @for (panel of panelStore.availablePanels(); track panel.id) {
            <button mat-menu-item (click)="panelStore.addPanel(panel)">{{ panel.title }}</button>
        }
    </mat-menu>
</div>

<div class="panel-wrapper">
    @for (panel of panelStore.entities(); track panel.id) {
        <app-panel [panelData]="panel" />
    }
</div>
