<app-page-header title="Reporting" [subtitle]="'Report ' + (date | intlDate)">
    <ng-container actions>
        <button mat-stroked-button color="primary" type="button" (click)="print()">
            <mat-icon>description</mat-icon>
            Export as PDF
        </button>
        <button mat-flat-button color="primary" type="button" (click)="panelStore.addPanel()">
            <mat-icon>add</mat-icon>
            Add panel
        </button>
    </ng-container>
</app-page-header>

@if (panelStore.entities().length === 0) {
    <app-empty-state
        icon="assignment"
        message="No panels yet. Add one to start building your report."
    ></app-empty-state>
} @else {
    <div class="panel-wrapper">
        @for (panel of panelStore.entities(); track panel.id) {
            <app-panel [panelData]="panel" />
        }
    </div>
}
