.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-right: auto;
}

.panel-wrapper {
    display: grid;
    grid-template-columns: 2fr;
    grid-auto-rows: 200px;
    gap: 16px;
}
