<table mat-table [dataSource]="dataSource" (matSortChange)="announceSortChange($event)" matSort
       class="mat-elevation-z8">

    <ng-container matColumnDef="creationTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation time</th>
        <td mat-cell *matCellDef="let element"> {{ element.creationTime }}</td>
    </ng-container>
    <ng-container matColumnDef="metricName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Metric name</th>
        <td mat-cell *matCellDef="let element"> {{ element.metricName }}</td>
    </ng-container>
    <ng-container matColumnDef="baseCost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Base cost</th>
        <td mat-cell *matCellDef="let element"> {{ element.baseCost }}</td>
    </ng-container>
    <ng-container matColumnDef="costFactor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost factor</th>
        <td mat-cell *matCellDef="let element"> {{ element.costFactor }}</td>
    </ng-container>
    <ng-container matColumnDef="costFactorGb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost factor in GB</th>
        <td mat-cell *matCellDef="let element"> {{ element | bytesToGb }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
