<app-page-header title="Explore" subtitle="Get insight into your Kafka usage."></app-page-header>

<app-filter-bar>
    <app-graph-filter (graphFilter)="filter.set($event)" />
</app-filter-bar>

@if (filter()?.groupByContext && filter()?.metricName) {
    <a mat-stroked-button color="primary" class="mb-6" [href]="csvDownloadUrl()">
        <mat-icon>description</mat-icon>
        Generate CSV report for all metrics for selected context and date range
    </a>
    <app-graph-panel [metricsData]="historyData.value() || []" />
} @else {
    <app-empty-state
        icon="bar_chart"
        message="Please select a context and a metric to view the dashboard."
    ></app-empty-state>
}
