<div class="flex-container mb-1">
    <button *appLoggedIn mat-raised-button color="grey" type="button" (click)="openTestDialog()">
        <mat-icon>search</mat-icon>
        Test context data
    </button>
    <button *appLoggedIn mat-fab extended color="primary" type="button" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        Add context data
    </button>
</div>
<table mat-table [dataSource]="dataSource" (matSortChange)="announceSortChange($event)" matSort
       class="mat-elevation-z8">

    <ng-container matColumnDef="creationTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation time</th>
        <td mat-cell *matCellDef="let element"> {{ element.creationTime | intlDate }}</td>
    </ng-container>
    <ng-container matColumnDef="validFrom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid from</th>
        <td mat-cell *matCellDef="let element"> {{ element.validFrom | intlDate }}</td>
    </ng-container>
    <ng-container matColumnDef="validUntil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid until</th>
        <td mat-cell *matCellDef="let element"> {{ element.validUntil | intlDate }}</td>
    </ng-container>
    <ng-container matColumnDef="entityType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entity type</th>
        <td mat-cell *matCellDef="let element"> {{ element.entityType }}</td>
    </ng-container>
    <ng-container matColumnDef="regex">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Regex</th>
        <td mat-cell *matCellDef="let element"> {{ element.regex }}</td>
    </ng-container>
    <ng-container matColumnDef="context">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Context</th>
        <td mat-cell *matCellDef="let element">
            <app-key-value-list [entries]="element.context"/>
        </td>
    </ng-container>
    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button type="button" (click)="delete(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
