<form [formGroup]="form">
    <mat-form-field class="form-full-width">
        <mat-label>Metric Name</mat-label>
        <mat-select formControlName="metricName">
            @for (metricName of graphFilterService.metricNames(); track metricName.metricName) {
                <mat-option [value]="metricName.metricName">{{ metricName.metricName }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Group by context</mat-label>
        <mat-select formControlName="groupByContext">
            @for (key of graphFilterService.contextKeys(); track key) {
                <mat-option [value]="key">{{ key }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" formControlName="from" />
            <input matEndDate placeholder="End date" formControlName="to" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
</form>
