<h2 mat-dialog-title>Context Tester</h2>
<mat-dialog-content>
    <form (ngSubmit)="testContext()" (reset)="reset()">
        <mat-form-field class="form-full-width mr-1">
            <mat-label>Name of Topic / Principal</mat-label>
            <input name="testString" [(ngModel)]="testString" matInput />
        </mat-form-field>
        <button mat-flat-button color="primary" class="mr-1" [disabled]="(!testString) || pending">
            Test
        </button>
        <button mat-flat-button type="reset">Reset</button>
    </form>
    @if (matchedTopicsContext || matchedPrincipalContext) {
    <mat-tab-group>
        <mat-tab label="Topics ({{matchedTopicsContext?.length}})">
            <div class="mt-2">
                @if (matchedTopicsContext && matchedTopicsContext.length > 0) { The following
                contexts exist for topic <strong>{{ previousInput }}</strong>:
                <app-key-value-list [entries]="matchedTopicsContext" />
                } @else {
                <em>No contexts for topic <strong>{{ previousInput }}</strong></em>
                }
            </div>
        </mat-tab>
        <mat-tab label="Principals ({{matchedPrincipalContext?.length}})">
            <div class="mt-2">
                @if (matchedPrincipalContext && matchedPrincipalContext.length > 0) { The following
                contexts match for principal <strong>{{ previousInput }}</strong>:
                <app-key-value-list [entries]="matchedPrincipalContext" />
                } @else {
                <em>No contexts for principal <strong>{{ previousInput }}</strong></em>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
    }
</mat-dialog-content>
<mat-divider />
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
