@use '@angular/material' as mat;
@use 'styles/theme-colors' as theme-colors;

html {
    @include mat.theme(
                    (
                            color: (
                                    theme-type: light,
                                    primary: theme-colors.$primary-palette,
                                    tertiary: theme-colors.$tertiary-palette,
                            ),
                            typography: Poppins,
                            density: 0,
                    )
    );
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Poppins,
    Helvetica Neue Light,
    Helvetica Neue,
    Helvetica,
    Arial,
    Lucida Grande,
    sans-serif;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

.mr-1 {
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}


@include mat.toolbar-overrides(
                (
                        container-background-color: var(--mat-sys-primary),
                        container-text-color: var(--mat-sys-on-primary),
                )
);

@include mat.sidenav-overrides(
                (
                        container-divider-color: var(--mat-sys-primary),
                        container-width: 290px,
                )
);
