@use '@angular/material' as mat;
@use 'styles/theme';
@use 'styles/spacing';
@use 'styles/radius';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family:
        Poppins,
        Helvetica Neue Light,
        Helvetica Neue,
        Helvetica,
        Arial,
        Lucida Grande,
        sans-serif;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

@each $n in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
    .mt-#{$n} {
        margin-top: var(--space-#{$n});
    }
    .mb-#{$n} {
        margin-bottom: var(--space-#{$n});
    }
    .mr-#{$n} {
        margin-right: var(--space-#{$n});
    }
    .ml-#{$n} {
        margin-left: var(--space-#{$n});
    }
    .gap-#{$n} {
        gap: var(--space-#{$n});
    }
    .p-#{$n} {
        padding: var(--space-#{$n});
    }
}

@include mat.toolbar-overrides(
    (
        container-background-color: var(--mat-sys-primary),
        container-text-color: var(--mat-sys-on-primary),
    )
);

@include mat.sidenav-overrides(
    (
        container-divider-color: var(--mat-sys-primary),
    )
);
