apiVersion: apps/v1
kind: Deployment
metadata:
  name: telegraf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telegraf
  template:
    metadata:
      labels:
        app: telegraf
    spec:
      volumes:
        - name: config
          configMap:
            name: telegraf-config
            defaultMode: 420
            optional: false
      containers:
        - name: telegraf
          image: telegraf:alpine
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 100m
              memory: 100Mi
          envFrom:
            - secretRef:
                name: telegraf-secret
          volumeMounts:
            - name: config
              mountPath: /etc/telegraf/telegraf.conf
              subPath: telegraf-config.toml
              mountPropagation: None
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
