name: Build scraper

on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
    branches: [ master ]
    paths: ['kafka-scraper/**']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and test
        working-directory: kafka-scraper/
        run: mvn --batch-mode clean package

      - name: Build native
        working-directory: kafka-scraper/
        run: mvn --batch-mode package -DskipTests -Pnative

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push latest jvm image
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v5
        with:
          context: kafka-scraper/
          file: kafka-scraper/src/main/docker/Dockerfile.jvm
          push: true
          tags: spoud/kafka-cost-control-scraper:latest-jvm

      - name: Build and push lastest native image
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v5
        with:
          context: kafka-scraper/
          file: kafka-scraper/src/main/docker/Dockerfile.native-micro
          push: true
          tags: spoud/kafka-cost-control-scraper:latest-native

      - name: Build and push tagged jvm image
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v5
        with:
          context: kafka-scraper/
          file: kafka-scraper/src/main/docker/Dockerfile.jvm
          push: true
          tags: spoud/kafka-cost-control-scraper:${{ github.ref_name }}-jvm

      - name: Build and push tagged native image
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v5
        with:
          context: kafka-scraper/
          file: kafka-scraper/src/main/docker/Dockerfile.native-micro
          push: true
          tags: spoud/kafka-cost-control-scraper:${{ github.ref_name }}-native
