name: Build confluent metrics agent

on:
  push:
    branches: [ master ]
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches: [ master ]
    paths: [ 'confluent-agent/**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Write release version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: "0.7.14"
      
      - name: Install dependencies
        working-directory: confluent-agent/
        run: uv sync

      - name: Run tests
        working-directory: confluent-agent/
        run: uv run python -m pytest


  publish:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')

    steps:

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push latest
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v5
        with:
          context: confluent-agent/
          push: true
          tags: spoud/kafka-cost-control-confluent-agent:latest

      - name: Build and push tag
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v5
        with:
          context: frontend/
          push: true
          tags: spoud/kafka-cost-control-confluent-agent:${{ env.VERSION }}
